body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-div {
  border: 2px black solid;
  text-align: center;
}

.searchbar-div {
  padding: 20px;
  border: 2px red solid;
}

.movies-div {
  border: 2px cornflowerblue solid;
  width: 49%;
  float: left;
 
}

.nom-div {
  border: 2px green solid;
  text-align: center;
  float: right;
  width: 50%;
  
}
.movie-img {
  max-width: 200px;
  max-height: 150px;
}
